body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-image: url("imgs/dafefd9440637dd9b0240098474b6d8dd9487d8c.png");
    background-size: cover;
    background-position-y: 20%;
    background-color: rgba(0, 0, 0, 0.70);
    height: 208px;
    background-blend-mode: overlay;
}

.title-div {
    margin: 0 42px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.title-div h1 {
    font-size: 3rem;
    font-weight: bold;
}

.title-div a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
}

.search-bar {
    width: 80%;
    max-width: 650px;
    margin: 20px auto 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.seatch-bar-input {
    display: inline;
    width: 75%;
    position: relative;
}

.seatch-bar-input svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    padding-left: 8px;
}

.search-bar input {
    box-sizing: border-box;
    height: 48px;
    width: calc(75% - 40px);
    margin: 0;
    border: none;
    padding: 0 20px 0 40px;
    border-radius: 6px 0 0 6px;
    background-color: #2E2E2F;
    color: white;
}

.search-bar input::placeholder {
    color: #A5A5A5;
    font-weight: 500;
}

.search-bar button {
    width: 25%;
    height: 48px;
    margin: -5px;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #4B4B4B;
    color: white;
    cursor: pointer;
}

main {
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 1;
    background-color: #121212;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow-y: auto;
}

.start-exploring-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-exploring-msg img {
    height: 70px;
    width: 80px;
}

.start-exploring-msg p {
    color: #2E2E2F;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px;
}

.film-item-div {
    width: 80%;
    display: flex;
    gap: 20px;
}

.film-image {
    width: 100px;
    height: 150px;
}

.film-item-div-text {
    color: white;
}

.film-tite-div {
    display: flex;
    align-items: center;
}

.star {
    margin: 0 5px 0 8px;
    width: 15px;
    height: 15px;
}

.film-item-div-text h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 11px 0;
}

.film-item-div-text p {
    display: inline-block;
    color: inherit;
    font-size: 0.9rem;
    margin: 0;
}

.film-item-div .film-description{
    color: #A5A5A5;
}

.film-item-div-text .film-itens-details {
    margin: 0 7px 8px 7px;
}

.watch-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.watch-button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.watch-button img {
    margin-right: 3px;
    transform: translateY(3px);
}

.link-a:hover {
    text-decoration: underline;
}

.exploring-msg-div a{
    color: white;
    display: inline-block;
    margin: 0;
}

.exploring-msg-div img {
    width: 20px;
    height: 20px;
    transform: translateY(3px);
}

.exploring-msg-div {
    transition: 0.3s;
    cursor: pointer;
}

.exploring-msg-div:hover {
    transform: scale(1.05);
    transition: 0.3s;
}